<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand ms-5" href="/">
        Blog-Nodejs
    </a>

    <ul class=" navbar-nav me-auto ">
        <li class="row nav-item">
            <div class="col-auto">
                <a class="nav-link active" href="/">Home</a>
            </div>
          
        </li>
      
    </ul>
</nav>