<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand mx-5" href="/">
        Blog-Nodejs
    </a>

    <ul class=" navbar-nav mr-auto mx-5">
        <li class="row nav-item">
            <div class="col-auto">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </div>
            <div class="col-auto">
                <a class="nav-link" href="/admin/articles/new">Artigos</a>
            </div>
        </li>
      
    </ul>
</nav>