<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/">
        Blog-Nodejs
    </a>

    <ul class=" navbar-nav  " >
        <li class="row nav-item">
            <div class="col-auto">
                <a class="nav-link active" href="/admin/categories">Categorias</a>
            </div>
            <div class="col-auto">
                <a class="nav-link" href="/admin/articles">Artigos</a>
            </div>
            <div class="col-auto">
                <a class="nav-link" href="/admin/users">Usuários</a>
            </div>
           
        </li>
      
    </ul>
    <ul class=" navbar-nav ms-auto ">
            <div class="col-auto">
                <a class="nav-link" href="/logout">logout</a>
            </div>
        </li>
    </ul>
    </div>
</nav>