<%- include('partials/header.ejs')%>
<%- include('partials/homenavbar.ejs')%>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron form-control bg-light ">
            <h1 class="display-4">Bem Vindo</h1>
            <p class="lead">Criação de uma aplicação de Blog em NodeJs</p>
            <hr class="my-4">
            <p>Blog NodeJs com Bootstrap e MySql</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div><br>
        <% articles.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title%></h2>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary">ler mais</a>
            </div>

        </div>
        <br>
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs')%>